<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AccountBook</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="bower_components/bootstrap-3-datepicker/css/datepicker3.css">
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ABApp" ng-controller="pageController">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="container">
      <div class="header" ng-controller="headerAreaController">
        <ul class="nav nav-pills pull-right" id="topnavi-menu">
          <li class="active"><a href="#">Home</a></li>
          <li ng-show="user.isLoggedIn"><a href="#" ng-click="logout()">Logout</a></li>
        </ul>
        <h3 class="text-muted">AccountBook</h3>
      </div>

      <div data-role="content" ng-switch="pageState">
        <div id="login-form" ng-switch-when="loginForm" ng-controller="loginFormController" ng-init="init()">
          <form class="form-inline" ng-submit="login()">
            <div>
              <label for="basic">Username:</label>
              <input id="username" type="text" name="name" id="basic" value=""  class="form-control" ng-model="User.username" />                
            </div>

            <div>
              <label for="basic">Password:</label>
              <input id="password" type="password" name="name" id="basic" value="" class="form-control" ng-model="User.password" />
            </div>

            <div>
              <button type="submit" id="login-button" data-role="button" data-theme="b" class="btn btn-primary">Log In</button> 
            </div>
          </form>
        </div>

        <div id="main-table" ng-switch-when="mainTable" ng-controller="mainTableController">
          <div class="row">
            <div class="col-xs-9" role="main">
              <table id="account-data-table" class="table table-striped account-data-table">
                <thead>
                  <tr>
                    <th ng-repeat="colName in ['date', 'name', 'tags', 'price']" ng-click="sort(colName)">{{ colName }}
                      <div class="sort-indicator" ng-if="accountData.sorted[colName] && accountData.sortDirection"><span class="glyphicon glyphicon-chevron-up"></span></div>
                      <div class="sort-indicator" ng-if="accountData.sorted[colName] && !accountData.sortDirection"><span class="glyphicon glyphicon-chevron-down"></span></div>
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="account in accountData.accounts" data-id="{{ account.id }}">
                    <td>{{ account.date }}</td>
                    <td>{{ account.name }}</td>
                    <td>
                      <span class="tag" ng-repeat="tagId in account.tags">
                        {{ tags[tagId] }}
                      </span>
                    </td>
                    <td class="price">{{ account.price }}</td>
                    <td><button class="btn btn-default btn-xs remove-data-button" ng-click="remove($event)"><span class="glyphicon glyphicon-remove"></span></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-3">
              <div ng-controller="sumTotalController">
                <div class="total area-block"><span>{{ total.all }}</span> yen</div>
                <div class="total-tag area-block">
                  <table>
                    <tr ng-repeat="(id, price) in total.perTag">
                      <td><span class="tag">{{ tags[id] }}</span></td>
                      <td class="price">{{ price }}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div ng-controller="rangeSelectController">
                <div class="area-block">
                  <div>Range: 
                    <select class="form-control" ng-model="range.selected" ng-options="opt.num as opt.label for opt in range.options"></select>
                  </div>
                </div>
                <div id="mainTableDateRange" class="input-daterange input-group" ng-if="range.selected===range.MANUAL_RANGE">
                  <input type="text" class="input-sm form-control">
                  <span class="input-group-addon">to</span>
                  <input type="text" class="input-sm form-control">
                </div>
              </div>
              <div class="area-block">
                <button class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add</button>
                <button class="btn btn-default" ng-click="load()"><span class="glyphicon glyphicon-refresh"></span></button>
                <button class="btn btn-default" data-toggle="modal" data-target="#editTagModal">Edit tag</button>
              </div>
            </div>
          </div>

          <!-- add data modal -->
          <div class="modal fade add-data-modal" id="addModal" role="dialog" aria-hidden="true" ng-controller="createDataController">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Add data</h4>
                </div>
                <div class="modal-body">
                  <table>
                    <tr>
                      <td>Date</td>
                      <td><input type="text" id="add-data-date" class="form-control" placeholder="(ex) 2015-01-01" ng-model="account.date"></td>
                    </tr>
                    <tr>
                      <td>Name</td>
                      <td><input type="text" id="add-data-name" class="form-control" placeholder="(ex) bag, lunch, park fee, etc..." ng-model="account.name"></td>
                    </tr>
                    <tr>
                      <td>Tags</td>
                      <td><div class="tag-area">
                        <span ng-repeat="(id, tag) in tags">
                          <span class="tag" data-tag-id="{{ id }}" ng-click="ui.toggleButton($event)">{{ tag }}</span>
                        </span>
                      </div></td>
                    </tr>
                    <tr>
                      <td>Price</td>
                      <td><input type="text" id="add-data-price" class="form-control" placeholder="(ex) 10000" ng-model="account.price"></td>
                    </tr>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" ng-click="create(true)">Add</button>
                  <button type="button" class="btn btn-success" ng-click="create()">Add in a row</button>
                </div>
              </div>
            </div>
          </div>

          <!-- edit tag modal -->
          <div class="modal fade edit-tag-modal" id="editTagModal" role="dialog" aria-hidden="true" ng-controller="editTagController">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Edit Tag</h4>
                </div>
                <div class="modal-body">
                  <h4>Create new tag</h4>
                  <div class="form-inline">
                    <input type="text" class="form-control" placeholder="new tag name" ng-model="newTag.name">
                    <button class="btn btn-default" ng-click="create()">Create</button>
                  </div>
                  <h4>Edit tag</h4>
                  <div id="edit-tag-area" class="tag-area">
                    <span class="tag" ng-repeat="tag in tags">
                      {{ tag }}
                    </span>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
      </div>

    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

       <!-- build:js(.) scripts/plugins.js -->
       <script src="bower_components/bootstrap/js/affix.js"></script>
       <script src="bower_components/bootstrap/js/alert.js"></script>
       <script src="bower_components/bootstrap/js/dropdown.js"></script>
       <script src="bower_components/bootstrap/js/tooltip.js"></script>
       <script src="bower_components/bootstrap/js/modal.js"></script>
       <script src="bower_components/bootstrap/js/transition.js"></script>
       <script src="bower_components/bootstrap/js/button.js"></script>
       <script src="bower_components/bootstrap/js/popover.js"></script>
       <script src="bower_components/bootstrap/js/carousel.js"></script>
       <script src="bower_components/bootstrap/js/scrollspy.js"></script>
       <script src="bower_components/bootstrap/js/collapse.js"></script>
       <script src="bower_components/bootstrap/js/tab.js"></script>

       <!-- endbuild -->

    <script src="bower_components/bootstrap-3-datepicker/js/bootstrap-datepicker.js"></script>

    <script src="bower_components/angularjs/angular.js"></script>

    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/momentjs/moment.js"></script>

    <script src="scripts/KiiSDK.js"></script>

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</body>
</html>
